<!-- Start project Area -->
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="menu-content pb-40 col-lg-8">
        <div class="title text-center">
          <h1>
            Productos <span>Hidropónicos </span><br>
            de alta <span>Calidad</span>
          </h1>
          <p>‘Hidroponía en casa’ es una plataforma web dedicada a la comercialización de productos hidropónicos al por mayor y detal.</p>

          <% if !user_signed_in? %>
            <br><br>
            <%= link_to "Registrate", new_user_registration_path, class:"primary-btn2 header-btn text-uppercase" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="mt-10">
        <div class="item">
          <%= image_tag("header-bg.jpg", :class => "img-fluid") %>
        </div>
      </div>
    </div>
  </div>
<!-- End project Area -->
